# App
PORT=4000
NODE_ENV=development
GLOBAL_API_PREFIX=/api

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=/docs

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=riwi_user
DB_PASSWORD=riwi_password
DB_DATABASE=riwi_sportsline_db